:root{

}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
* a{
    text-decoration: none;
}
body{
    background-color: salmon;
}
.hero{
    background-image: url("/img/cat_retro_photography-wallpaper-2560x1440.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
}
h1{
    padding-top: 6rem;
    padding-left: 10%;
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 2rem;
    text-align: left;
    max-width: 75%;
    color: white;
    text-shadow: 0 0 5px salmon;
    font-size: 5rem;
    width: min-content;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    box-shadow: 0px 5px 10px rgb(100, 100, 100);
}
nav > *{
    position: relative;
    align-items: center;
    padding-inline: 20px;
    padding-top: 8px;
    height: 40px;
    font-size: 1.5rem;
}
nav > *:hover{
    position: relative;
    color: white;
    background-color: lightgray;
    background-image: url("/img/paw.png");
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

/*------  Main  ---------*/
h2{
    padding-block: 8rem;
    font-size: 40px;
}
#pets{
    margin-bottom: 50rem;
    align-items: center;
    text-align: center;
}
li{
    list-style: none;
    padding: 5px;
    font-size: 24px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 20px 0 20px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-block: 20px;
}
footer{
    padding-block: 20px;
    background-color: gray;
    box-shadow: 0px -5px 5px rgb(100, 100, 100);
}