:root{

}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
* a{
    text-decoration: none;
}
body{
    background-color: salmon;
}
.hero{
    background-image: url("/img/cat_dog_header.png");
    background-size:cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 500px;
}
h1{
    padding-top: 6rem;
    padding-left: 10%;
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 2rem;
    text-align: left;
    color: salmon;
    text-shadow: 0 0 5px salmon, 5px 5px 5px black;
    font-size: 5rem;
    width: min-content;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    box-shadow: 0px 5px 10px rgb(50, 50, 50);
    z-index: 5;
}
nav > *{
    position: relative;
    padding-inline: 20px;
    padding-top: 8px;
    height: 40px;
    font-size: 1.5rem;
    color: black;
}
nav > *:hover{
    position: relative;
    color: white;
    background-color: lightgray;
    background-image: url("/img/paw.png");
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}
.services{
    background-color: salmon;
}
/*-------main-------*/
.service-card-container{
    position: relative;
    margin-block: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
    padding-bottom: 20px;
    overflow: hidden;
    z-index: 0;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
.service-card-container:hover{
    box-shadow: none;
}
.service-card-container::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 100;
}

.service-card-container:hover::before{
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    border: 5px solid black;
}
.service-card-container:hover .service-card-container{
    border-radius: 20px;
}
.service-card-container:hover .service-card-text p,
.service-card-container:hover .service-card-text a{
    display: block;
}
.service-card-container:hover .service-card-text a{
    border: 1px solid white;
    background-color: salmon;
}
.service-card-container:hover .service-card-text h3{
    color: salmon;
}
.wash-service{
    background-image: url("/img/dog_wash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
}
.pedicure-service{
    background-image: url("/img/cat_pedicure.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
}
.hair-cut-service{
    background-image: url("/img/dog_haricut.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom left;
}
.massage-service{
    background-image: url("/img/pet_massage.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
}
.breeding-service{
    background-image: url("/img/pet_breeding.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom left;
}
.service-card-text{
    position: relative;
    padding-inline: 20px;
    padding-top: 50px;
    font-size: 2rem;
    width: 100%;
    min-height: 100%;
    margin: 0;
    text-align: center;
    z-index: 101;
}
.service-card-text p,
.service-card-text a{
    display: none;
}
.service-card-text h3{
    position: relative;
    font-weight: 900;
    color: rgb(50, 50, 50);
    height: 40%;
    color: black;
    text-shadow: 0 0 3px salmon;
    margin-bottom: 10px;
}
.service-card-text p{
    position: relative;
    height: 100%;
    margin-bottom: 50px;
    color: white;
}
.service-card-text a{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, .5);
    border-radius: 10px;
    color: white;
    padding-inline: 10px;
    font-weight: 900;
}
/*-------footer--------*/
footer{
    padding-block: 20px;
    background-color: gray;
    box-shadow: 0px -5px 15px rgb(50, 50, 50);
}

@media (min-width: 678px){
    .service-card-container{
        flex-direction: row;
    }
    
}